.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
.list-group-item:hover #container{
  background-color: #ccc;
}


#home{
  background-image: url("home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 height:30px; width:30px;margin:14px;
 position:relative; top:5px; 
}

#help{
  background-image: url("help.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:30px; width:30px;border-radius: 50%;
  position:relative; top:5px; right:-1150px;
 }

#message{
  position:relative; top:-495px; right:-1.25%; width:97%;height:67px; border: 1px solid black;text-justify: auto; font-size: 17px;
  font-weight: bold;text-align: center;}
#sbar{position:absolute; top: 3.5%; right:20.5%; width:75%;
}
#viddet{position:relative; top:25px; width:93%;
}
#playlist{position:relative; top:-502px; right:-63.5%;width:35%; overflow-y:scroll; overflow-x:hidden; height:530px;border: 1px solid black;
}
#listbody{width:350%;height:120px;position:relative;
}
#emergency{border: 3px solid rgb(0, 0, 0); position:relative; top:-472px; right:-1.25%; 
 background-size: 1150px;
  background-repeat: no-repeat;}

#emer_on{position:relative; top:-458px; right:-1.25%;height:40px; width:400px;
   font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: none;
    color: rgb(0, 0, 0);
    background-color: rgb(211, 211, 211);
    border: 1px solid transparent;
    }